<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">User</a></li>
      <li class="breadcrumb-item active">Login</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<div class="login">
  <div class="container">
    {{#if done}}
    <div class="section-header">
      <h3>Reset Password</h3>
      <p>
       Your password has been reset successfully. You can now login with your new password.
      </p>
    </div>
    {{else}}
    {{#if expired}}

    <div class="section-header">
      <h3>Reset Password</h3>
      <p>
        Your reset password link has expired. Please try again.
      </p>
    </div>
    {{else}}
     <div class="section-header">
      <h3>Reset Password</h3>
      <p>
        Enter your new password.
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form action="/user/reset" method="POST" id="resetForm">
          <div class="register-form">
            <div class="row">
              <div class="col-md-6">
                <label>Password</label>
                <input
                  required
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                  name="password"
                  class="form-control"
                  type="password"
                  placeholder="Password"
                  onchange="checkPasswordConfirm('registerForm')"
                />
              </div>
              <div class="col-md-6">
                <label>Confirm Password</label>
                <input
                  name="confirmPassword"
                  class="form-control"
                  type="password"
                  placeholder="Confirm Password"
                  onkeyup="checkPasswordConfirm('registerForm')"
                />
              </div>
              {{#if message}}

              <div class="col-md-12">
                <div class="alert alert-danger mt-3" role="alert">
                  {{{message}}}
                </div>
              </div>
              {{/if}}
              <div class="col-md-12">
                <button class="btn">Submit</button>
              </div>

              <input type="hidden" name="token" value="{{token}}" />
              <input type="hidden" name="email" value="{{email}}" />
            </div>
          </div>
        </form>
      </div>
    </div>
    {{/if}}
    {{/if}}
  </div>
</div>
<!-- Login End -->
